

@charset "UTF-8";
#mountain{
	width: 1150px;
	margin: 0 auto;
}

/*  Interactive Map Container */
.map_container {
	background-image: url(../images/map.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 686px;
	width: 1150px;
	margin: 0 auto;
	position: relative;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.map_container a.line_diffic {
	background-image: url(../images/easy.png);
	width: 1150px;
	height: 686px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
	position: absolute;
	z-index: 9;
	cursor: pointer;
}

.map_container a.line_easy {
	background-image: url(../images/difficult.png);
	width: 1150px;
	height: 686px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
	position: absolute;
	z-index: 9;
	cursor: pointer;
}

.map_container .form_continent {
	position: absolute;
	top: 0;
	z-index: 999;
	margin: 20px 0 0 450px;
}


